@using TextAdventures.Quest;
@using WebEditor.Views.Edit;
@model WebEditor.Models.Element
           
<div id="form-loading">
Working...
</div>

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="elementEditorError">
        <b>Sorry, an internal error occurred:</b><br />
        @Model.Error
    </div>
}

@if (Model.OtherElementErrors != null && Model.OtherElementErrors.Count > 0)
{
    <div class="elementEditorError">
        @foreach (var data in Model.OtherElementErrors)
        {
            <text>"@data.Key" has the following errors:</text>
            <ul>
                @foreach (string message in data.Value)
                {
                    <li>@message</li>
                }
            </ul>
        }
    </div>
}

<div id="elementEditorForm">
    @if (!string.IsNullOrEmpty(Model.Name))
    {
    <div class="elementEditorHeader">
        <div class="elementEditorButtons">
            @if (Model.CanMove && !string.IsNullOrEmpty(Model.MovePossibleParents))
            {
            <button type="button" id="button-move">Move</button>
            }
            @if (Model.IsElement && Model.Name != "game")
            {
            <button type="button" id="button-delete">Delete</button>
            }
            @if (Model.Name == "game")
            {
                <button type="button" id="button-publish">Publish</button>
            }
        </div>

        <div class="elementEditorName">@Model.Name</div>
    </div>
    }

    @using (Ajax.BeginForm("SaveElement", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "elementEditorForm", OnSuccess = "initialiseElementEditor", OnFailure = "ajaxError", OnBegin = "beginFormSubmit" }))
    {
        <input type="hidden" name="_game_id" id="_game_id" value="@Model.GameId" />
        <input type="hidden" name="_key" id="_key" value="@Model.Key" />
        <input type="hidden" name="_redirectToElement" id="_redirectToElement" value="@Model.Key" />
        <input type="hidden" name="_additionalAction" id="_additionalAction" value="" />
        <input type="hidden" name="_additionalActionTab" id="_additionalActionTab" value="@Model.Tab" />
        <input type="hidden" name="_ignoreExpression" id="_ignoreExpression" value="" />
        <input type="hidden" name="_refreshTreeSelectElement" id="_refreshTreeSelectElement" value="@Model.RefreshTreeSelectElement" />
        <input type="hidden" name="_popupError" id="_popupError" value="@Model.PopupError" />
        <input type="hidden" name="_newObjectPossibleParents" id="_newObjectPossibleParents" value="@Model.NewObjectPossibleParents" />
        <input type="hidden" name="_enabledButtons" id="_enabledButtons" value="@Model.EnabledButtons" />
        <input type="hidden" name="_pageTitle" id="_pageTitle" value="@Model.PageTitle" />
        <input type="hidden" name="_reload" id="_reload" value="@Model.Reload" />
        <input type="hidden" name="_availableVerbs" id="_availableVerbs" value="@Model.AvailableVerbs" />
        <input type="hidden" name="_uiAction" id="_uiAction" value="@Model.UIAction" />
        <input type="hidden" name="_movePossibleParents" id="_movePossibleParents" value="@Model.MovePossibleParents" />
        <input type="hidden" name="_allObjects" id="_allObjects" value="@Model.AllObjects" />
        if (Model.NextPage != null)
        {
            <input type="hidden" name="_nextPage" id="_nextPage" value="@Model.NextPage" />
        }
        if (Model.EditorDefinition != null)
        {
            <div id="elementEditorTabs">
                @{
                    int count = 0;
                }
                <ul>    
                    @foreach (IEditorTab def in Model.EditorDefinition.Tabs.Values)
                    {
                        if (!def.IsTabVisible(Model.EditorData) || def.GetBool("desktop"))
                        {
                            continue;
                        }
                        if (Model.Controller.SimpleMode && !def.IsTabVisibleInSimpleMode)
                        {
                            continue;
                        }
                        count++;
                        string id = "#elementEditorTab" + count;
                        <li><a href="@id">@def.Caption</a></li>
                    }
                </ul>
                @{
                    count = 0;
                }
                @foreach (IEditorTab def in Model.EditorDefinition.Tabs.Values)
                {
                    if (!def.IsTabVisible(Model.EditorData) || def.GetBool("desktop"))
                    {
                        continue;
                    }
                    if (Model.Controller.SimpleMode && !def.IsTabVisibleInSimpleMode)
                    {
                        continue;
                    }
                    count++;
                    string id = "elementEditorTab" + count;
                    <div id="@id">
                        @{
                           bool isFirst = true;
                        }
                        <table style="width: 100%">
                            <colgroup>
                                <col style="width: 15%" />
                                <col />
                            </colgroup>
                            @foreach (IEditorControl ctl in def.Controls)
                            {
                                if (!ctl.IsControlVisible(Model.EditorData) || ctl.GetBool("desktop"))
                                {
                                    continue;
                                }
                                if (Model.Controller.SimpleMode && !ctl.IsControlVisibleInSimpleMode)
                                {
                                    continue;
                                }
                                if (ctl.Attribute != null && Html.ViewData.ModelState.ContainsKey(ctl.Attribute))
                                {
                                    <tr>
                                        <td class="elementEditorCell" colspan="2">
                                            <div class="elementEditorError">
                                                @Html.ValidationMessage(ctl.Attribute)
                                                <button type="button" class="error-clear" data-key="@ctl.Attribute">Clear</button>
                                            </div>
                                        </td>
                                    </tr>
                                }

                                if (IsSelfCaption(ctl))
                                {
                                    <tr>
                                        <td class="elementEditorCell" colspan="2">@RenderEditorControl(ctl, isFirst, ctl.ControlType)</td>
                                    </tr>
                                }
                                else if (IsLongCaption(ctl))
                                {
                                    <tr>
                                        <td colspan="2">@ctl.Caption:</td>
                                    </tr>
                                    <tr>
                                        <td class="elementEditorCell" colspan="2">@RenderEditorControl(ctl, isFirst, ctl.ControlType)</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="elementEditorCaption">@ctl.Caption:</td>
                                        <td class="elementEditorCell">
                                            @RenderEditorControl(ctl, isFirst, ctl.ControlType)
                                        </td>
                                    </tr>
                                }
                                isFirst = false;
                            }
                        </table>
                    </div>
                }
            </div>
            <input id="elementEditorSave" type="submit" value="Save" style="display: none" />
        }
    }
</div>

@helper RenderEditorControl(IEditorControl ctl, bool isFirst, string controlType, string caption = null)
{
    object value;
    value = (ctl.Attribute == null) ? null :  Model.EditorData.GetAttribute(ctl.Attribute);
    if (caption == null)
    {
        caption = ctl.Caption;
    }
    switch (controlType)
    {
        case "checkbox":
            @Html.CheckBox(ctl.Attribute, value as bool? == true, new { @class = "elementEditorCheckbox" })
            @Html.Label(ctl.Attribute, caption)
            break;
        case "textbox":
            @Html.TextBox(ctl.Attribute, (string)value, new { style = "width: 100%", @class = "elementEditorTextbox" })
            break;
        case "list":
            @Html.Action("EditStringList", new { id = Model.GameId, key = Model.Key, control = ctl })
            break;
        case @"script":
            @Html.Action("EditScript", new { id = Model.GameId, key = Model.Key, control = ctl })
            break;
        case "label":
            <div class="elementEditorLabel">
            @{
                var href = ctl.GetString("href");
                if (href == null)
                {
                    @caption
                }
                else
                {
                    <a href="@href" target="_blank">@caption</a>
                }
            }
            </div>
            break;
        case "title":
            string className = isFirst ? "elementEditorTitleTop" : "elementEditorTitle";
            <div class="@className">@caption</div>
            break;
        case "dropdown":
            string selectedItem = value as string;
            IEnumerable<SelectListItem> valuesList = Controls.GetDropdownValues(ctl, selectedItem, Model.Controller);
            @Html.DropDownList(ctl.Attribute, valuesList, new { @class = "elementEditorDropdown" });
            break;
        case "richtext":
            @Html.TextArea(ctl.Attribute, (string)value, 10, 80, new { @class = "richtext", style = "width: 40em; height: 10em" })
            break;
        case "number":
            string minMax = string.Empty;
            int? min = ctl.GetInt("minimum");
            int? max = ctl.GetInt("maximum");
            if (min.HasValue) {
                minMax += string.Format("min={0}", min);
            }
            if (max.HasValue)
            {
                if (minMax.Length > 0) {
                    minMax += " ";
                }
                minMax += string.Format("max={0}", max);
            }
            <input type="number" name="@ctl.Attribute" id="@ctl.Attribute" value="@Model.EditorData.GetAttribute(ctl.Attribute)" @minMax style="width: 50px" />
            break;
        case "multi":
            @RenderMultiControl(ctl, value)
            break;
        case "dropdowntypes":
            @Html.DropDownList("types-dropdown-" + ctl.Id, Controls.GetDropDownTypesControlItems(ctl, Model.Controller, Model.Key), new { @class = "types-dropdown", data_key = ctl.Id }); 
            break;
        case "elementslist":
            @Html.Action("ElementsList", new { id = Model.GameId, key = Model.Key, control = ctl })
            break;
        case "exits":
            @Html.Action("EditExits", new { id = Model.GameId, key = Model.Key, control = ctl })
            break;
        case "objects":
            IEditableObjectReference objectRef = value as IEditableObjectReference;
            string selectedValue = null;
            if (objectRef != null)
            {
                selectedValue = objectRef.Reference;
            }
            List<SelectListItem> items = new List<SelectListItem>(
                Controls.GetObjectListNames(ctl, Model.Controller).OrderBy(s => s, StringComparer.CurrentCultureIgnoreCase)
                .Select(s => new SelectListItem { Text = s, Value = s, Selected = (selectedValue == s) })
                );
            // if ctl.Attribute is "key" (or any name that exists in the Model), ASP.NET MVC ignores Selected value
            @Html.DropDownList("dropdown-" + ctl.Attribute, items);
            break;
        case "verbs":
            @Html.Action("EditVerbs", new { id = Model.GameId, key = Model.Key, control = ctl })
            break;
        case "file":
            string source = string.Join(";", ctl.GetString("source").Split(';').Select(s => s.Substring(1)));
            @Html.TextBox(ctl.Attribute, (string)value, new { @readonly = "readonly", @class = "elementEditorFile" })
            <button type="button" class="file-upload" data-key="@ctl.Attribute" data-extensions="@source">Choose file</button>
            break;
        case "scriptdictionary":
            @Html.Action("EditScriptDictionary", new { id = Model.GameId, key = Model.Key, control = ctl })
            break;
        case "stringdictionary":
            @Html.Action("EditStringDictionary", new { id = Model.GameId, key = Model.Key, control = ctl })
            break;
        case "gamebookoptions":
            @Html.Action("EditGameBookOptions", new { id = Model.GameId, key = Model.Key, control = ctl })
            break;
        case "pattern":
            IEditableCommandPattern commandPattern = value as IEditableCommandPattern;
            string text = (commandPattern != null) ? commandPattern.Pattern : string.Empty;
            @Html.TextBox(ctl.Attribute, text, new { style = "width: 100%", @class = "elementEditorTextbox" })
            break;
        case null:
            break;
        default:
            throw new ArgumentException(string.Format("Invalid control type: {0}", controlType));
    }
}

@helper RenderMultiControl(IEditorControl ctl, object value)
{
    string caption = ctl.GetString("selfcaption");
    if (caption != null)
    {
        <text>@caption:</text>
    }
    IDictionary<string, string> types = ctl.GetDictionary("types");
    string selectedType = Controls.GetTypeName(value);
    @Html.DropDownList(ctl.Attribute + "-type", types.Select(t => new SelectListItem { Text = t.Value, Value = t.Key, Selected = (t.Key == selectedType) }), new { @class = "multi-dropdown", data_key = ctl.Attribute })
    <br />
    string controlType = Controls.GetEditorNameForType(selectedType, ctl.GetDictionary("editors"));
    string ctlCaption = null;
    if (controlType == "checkbox")
    {
        ctlCaption = ctl.GetString("checkbox");
    }
    @RenderEditorControl(ctl, false, controlType, ctlCaption)
}

@functions {
    bool IsLongCaption(IEditorControl ctl)
    {
        if (ctl.Caption == null) return false;
        return (ctl.Caption.Length > 15);
    }

    bool IsSelfCaption(IEditorControl ctl)
    {
        switch (ctl.ControlType)
        {
            case "checkbox":
            case "label":
            case "title":
                return true;
            case "multi":
                return ctl.GetString("selfcaption") != null;
        }
        if (string.IsNullOrEmpty(ctl.Caption)) return true;
        return false;
    }
}