@using AxeSoftware.Quest;
@model WebEditor.Models.Element

<div id="elementEditorForm">
    <h2>@Model.Name</h2>

    @using (Ajax.BeginForm("SaveElement", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "elementEditorForm", OnComplete = "scrollElementEditorToTop" }))
    {
        <input type="hidden" name="_game_id" value="@Model.GameId" />
        <input type="hidden" name="_key" value="@Model.Key" />
        <input type="hidden" name="_redirectToElement" id="_redirectToElement" value="@Model.Key" />
        foreach (IEditorTab def in Model.EditorDefinition.Tabs.Values)
        {
            <h3>@def.Caption</h3>
    
                <table style="width: 100%">
                    <colgroup>
                        <col style="width: 15%" />
                        <col />
                    </colgroup>
                    @foreach (IEditorControl ctl in def.Controls)
                    {
                        if (IsSelfCaption(ctl)) {
                            <tr>
                                <td colspan="2">@RenderEditorControl(ctl)</td>
                            </tr>
                        }
                        else if (IsLongCaption(ctl)) {
                            <tr>
                                <td colspan="2">@ctl.Caption</td>
                            </tr>
                            <tr>
                                <td colspan="2">@RenderEditorControl(ctl)</td>
                            </tr>
                        }
                        else {                            
                            <tr>
                                <td>@ctl.Caption</td>
                                <td>
                                    @if (ctl.Attribute != null)
                                    {
                                        @RenderEditorControl(ctl)
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>  
        }
        <input id="elementEditorSave" type="submit" value="Save" />
    }
</div>

@helper RenderEditorControl(IEditorControl ctl) {
    switch (ctl.ControlType)
    {
        case "checkbox":
            @Html.CheckBox(ctl.Attribute, Model.EditorData.GetAttribute(ctl.Attribute) as bool? == true)
            @Html.Label(ctl.Attribute, ctl.Caption)
            break;
        case "textbox":
            @Html.TextBox(ctl.Attribute, (string)Model.EditorData.GetAttribute(ctl.Attribute), new { style = "width: 100%" } )
            break;
        default:
            <text>[@ctl.ControlType]</text>
            break;
    }
}

@functions {
    bool IsLongCaption(IEditorControl ctl) {
        if (ctl.Caption == null) return false;
        return (ctl.Caption.Length > 10);
    }
    
    bool IsSelfCaption(IEditorControl ctl) {
        switch (ctl.ControlType)
        {
            case "checkbox":
                return true;
        }
        return false;
    }
}