@model WebEditor.Models.Exits

<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        @CompassDirection("nw", Model.Directions[0])
                    </td>
                    <td>
                        @CompassDirection("n", Model.Directions[1])
                    </td>
                    <td>
                        @CompassDirection("ne", Model.Directions[2])
                    </td>
                </tr>
                <tr>
                    <td>
                        @CompassDirection("w", Model.Directions[3])
                    </td>
                    <td>
                    </td>
                    <td>
                        @CompassDirection("e", Model.Directions[4])
                    </td>
                </tr>
                <tr>
                    <td>
                        @CompassDirection("sw", Model.Directions[5])
                    </td>
                    <td>
                        @CompassDirection("s", Model.Directions[6])
                    </td>
                    <td>
                        @CompassDirection("se", Model.Directions[7])
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>
                        @CompassDirection("up", Model.Directions[8])
                    </td>
                    <td>
                        @CompassDirection("in", Model.Directions[10])
                    </td>
                </tr>
                <tr>
                    <td>
                        @CompassDirection("down", Model.Directions[9])
                    </td>
                    <td>
                        @CompassDirection("out", Model.Directions[11])
                    </td>
                </tr>
            </table>
        </td>
        <td style="vertical-align: top">
            <div id="@Model.Id-exit-data" style="display: none" class="compassDirectionEditor ui-corner-all">
                <b><span id="@Model.Id-exit-data-name"></span></b><br /><br />
                To: <span id="@Model.Id-exit-data-to"></span><br /><br />
                <button type="button" class="compass-direction-edit" id="@Model.Id-exit-data-edit">Edit</button>
            </div>
        </td>
    </tr>

</table>

@helper CompassDirection(string direction, WebEditor.Models.Exits.CompassDirection data)
{
    string compassId = Model.Id + "-compass" + direction.ToUpper();
    <div class="compassDirection ui-corner-all" data-option="@compassId" data-key="@Model.Id">
        @Html.RadioButton(Model.Id + "-compass", direction, new
        {
            id = compassId,
            @class = "compass-direction",
            data_key = Model.Id,
            data_id = data.ElementId,
            data_name = data.Name,
            data_to = data.To
        })
        @Html.Label(compassId, data.Name)<br /><br />
        <div class="compassDirectionInfo">
            <a class="compass-direction-link">@data.To</a>
        </div>
    </div>
}