@using WebEditor.Models
@model Editor
           
@section scripts {
    <script src="@Url.Content("~/Scripts/GameEdit.js")" type="text/javascript"></script>
}

<script type="text/javascript">
    $(function () {
        initialiseButtons();
        var layout = $('body').layout({
            applyDefaultStyles: true,
            north__resizable: false,
            north__closable: false
        });
        initialiseDialogBoxes();
        $.get('@Url.Action("Load", new { id = Model.GameId })', function (data) {
            initialiseTree(data, "game");
        });
    });

    function toplevelAdditionalAction(action) {
        $("#_additionalAction").val(action);
        $("#elementEditorSave").submit();
    }

    function initialiseTree(data, selectElement) {
        $("#gameTree").jstree({
            plugins: ["themes", "ui", "json_data"],
            json_data: data,
            animation: 0,
            themes: {
                theme: "default",
                icons: false
            }
        }).bind("select_node.jstree", function (event, data) {
            if ($("#treePane").height() < data.rslt.obj.offset().top) {
                $("#treePane").animate({ scrollTop: data.rslt.obj.offset().top }, 0);
            }
            if ($("#elementEditorSave").length > 0) {
                // save current element editor first
                $("#_redirectToElement").val(data.rslt.obj.attr("data-key"));
                $("#elementEditorSave").submit();
            }
            else {
                $("#elementEditor").load('@Url.Action("EditElement", new { id = Model.GameId, key = "KEY" })'.replace("KEY", data.rslt.obj.attr("data-key").replace(/ /g, "%20")), function () {
                    initialiseElementEditor();
                });
            }
        }).delegate("a", "click", function (event, data) { event.preventDefault(); })
            .bind("loaded.jstree", function (e, data) {
                data.inst.open_all(-1);
                data.inst.close_node("#tree-_advanced");
                $("#gameTree").jstree("select_node", "#tree-" + selectElement.replace(/ /g, "-"));
            });
        $.get('@Url.Action("Scripts", new { id = Model.GameId })', function (data) {
            var scriptAdderHtml = "";
            var count = 0;
            for (var cat in data) {
                scriptAdderHtml += "<h3><a href=\"#\">" + cat + "</a></h3><div>"
                var scripts = data[cat].items;
                for (var idx in scripts) {
                    var script = scripts[idx];
                    var create = script.create == null ? null : script.create.replace(/\"/g, "&quot;");
                    var additionalAttributes = (count == 0) ? " checked=\"checked\"" : "";
                    scriptAdderHtml += "<input type=\"radio\" name=\"dialog-add-script-selection\" value=\"" + create + "\" id=\"dialog-add-script-selection-" + count + "\"" + additionalAttributes + "/> ";
                    scriptAdderHtml += "<label for=\"dialog-add-script-selection-" + count + "\">" + script.display + "</label><br/>";
                    count++;
                }
                scriptAdderHtml += "</div>";
            }
            $("#dialog-add-script-accordion").html(scriptAdderHtml);
        });
    }

    function refreshTree(selectElement) {
        $.get('@Url.Action("RefreshTree", new { id = Model.GameId })', function (data) {
            initialiseTree(data, selectElement);
        });
    }
</script>

<div class="ui-layout-north">
    <span id="buttonset-add">
        <button type="button" id="button-addroom">Room</button>
        <button type="button" id="button-addobject">Object</button>
        <button type="button" id="button-add">Add...</button>
    </span>
    <button type="button" id="button-delete">Delete</button>
    <span id="buttonset-undoredo">
        <button type="button" id="button-undo">Undo</button>
        <button type="button" id="button-redo">Redo</button>
    </span>
    <span id="buttonset-clipboard">
        <button type="button" id="button-cut">Cut</button>
        <button type="button" id="button-copy">Copy</button>
        <button type="button" id="button-paste">Paste</button>
    </span>
    <button type="button" id="button-play">Play</button>
</div>

<div class="ui-layout-west" id="treePane">
    <div id="gameTree">
        <div id="treeContent">
        Loading...
        </div>
    </div>
</div>

<div class="ui-layout-center" id="centerPane">
    <div id="elementEditor"></div>
</div>

<div id="dialog-input-text" title="Editor">
    <p id="dialog-input-text-prompt"></p>
    <input type="text" id="dialog-input-text-entry" style="width: 100%" />
    <div id="dialog-input-text-list">
        <span id="dialog-input-text-list-prompt"></span>
        <select id="dialog-input-text-options">
        </select>
    </div>
</div>

<div id="dialog-add-script" title="Add New Script">
    <form id="dialog-add-script-form" action="">
        <div id="dialog-add-script-accordion">
        </div>
    </form>
</div>

<div id="dialog-error" title="Error">
    <p id="dialog-error-message"></p>
</div>