@model WebEditor.Models.Script
@using AxeSoftware.Quest

@RenderScripts(Model.Scripts, Model.Attribute)

@helper RenderScripts(IEditableScripts scripts, string attribute)
{
    <div class="ui-widget-header ui-corner-all toolbar" id="script-toolbar-@attribute" style="display: none">
        <button type="button" class="script-delete" data-key="@attribute">Delete</button>
    </div>

    <div class="ui-corner-all scriptEditor">
        @{
            if (scripts != null) {
                int count = 0;
                foreach (IEditableScript script in scripts.Scripts)
                {
                    IEditorDefinition definition = Model.Controller.GetEditorDefinition(script);
                    <div class="scriptLine">
                        @Html.CheckBox("selected-" + attribute + "-" + count.ToString(), new { @class = "script-select", data_key = attribute })
                        @if (script.Type != ScriptType.If)
                        {
                            foreach (IEditorControl ctl in definition.Controls)
                            {
                                if (ctl.GetBool("breakbefore"))
                                {
                                    <br /><text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                }
                                else
                                {
                                    <text> </text>
                                }
                                object value = ctl.Attribute == null ? null : script.GetParameter(ctl.Attribute);
                                @RenderEditorControl(ctl, value, attribute + "-" + count.ToString())
                            }
                        }
                        else
                        {
                            @RenderIfScript((EditableIfScript)script, attribute + "-" + count.ToString())
                        }
                    </div>
                    count++;
                }
            }
        }

        <button type="button" class="script-add" data-key="@attribute">Add new script</button>
    </div>
}

@helper RenderEditorControl(IEditorControl ctl, object value, string attributePrefix)
{
    string name = attributePrefix + "-" + ctl.Attribute;
    switch (ctl.ControlType)
    {
        case "checkbox":
            @Html.CheckBox(name, value as bool? == true)
            @Html.Label(name, ctl.Caption)
            break;
        case "textbox":
            @Html.TextBox(name, (string)value)
            break;
        case "label":
            @ctl.Caption
            break;
        case "dropdown":
            //Code from ElementEditor.cshtml should be shared
            break;
        case "expression":
            @RenderExpressionControl(ctl, name, (string)value)
            break;
        default:
            <text>[@ctl.ControlType]</text>
            break;
    }
}

@helper RenderExpressionControl(IEditorControl ctl, string name, string value)
{
    string templatesFilter = ctl.GetString("usetemplates");

    if (templatesFilter != null)
    {
        @RenderTemplateControl(name, value, templatesFilter);
    }

    string simpleEditor = ctl.GetString("simpleeditor") ?? "textbox";
    string simple = ctl.GetString("simple");

    if (simpleEditor == "boolean" || simpleEditor != null)
    {
        List<SelectListItem> list = new List<SelectListItem>();
        MvcHtmlString editorHtml = null;
        bool simpleEditorVisible = IsSimpleExpression(simpleEditor, value);
        string simpleEditorDisplayStyle = simpleEditorVisible ? "inline" : "none";
        string expressionDisplayStyle = simpleEditorVisible ? "none" : "inline";
        string simpleValue = simpleEditorVisible ? ConvertToSimpleExpression(simpleEditor, value) : string.Empty;
        
        switch (simpleEditor)
        {
            case "textbox":
                editorHtml = Html.TextBox(name + "-simpleeditor", simpleValue, new { style = "width: 350px; display: " + simpleEditorDisplayStyle });
                break;
            case "file":
                break;
            case "boolean":
                list.Add(new SelectListItem { Text = "yes", Selected = (value == "true") });
                list.Add(new SelectListItem { Text = "no", Selected = (value == "false") });
                break;
            case "objects":
                break;
            case "number":
                break;
            case "dropdown":
                break;
            default:
                throw new InvalidOperationException("Invalid control type for expression");
        }
        
        if (editorHtml != null)
        {
            list.Add(new SelectListItem { Text = simple, Selected = simpleEditorVisible });
        }
        
        list.Add(new SelectListItem { Text = "expression", Selected = !simpleEditorVisible });
        
        @Html.DropDownList(name + "-expressioneditordropdown", list, new { @class = "expression-dropdown", data_key = name })

        @Html.TextBox(name + "-expressioneditor", value, new { style = "width: 350px; display: " + expressionDisplayStyle });

        if (editorHtml != null)
        {
            @editorHtml
        }
    }
}

@helper RenderTemplateControl(string name, string value, string templatesFilter)
{
    IEditorDefinition editorDefinition = Model.Controller.GetExpressionEditorDefinition(value, templatesFilter);
    bool useTemplate = (editorDefinition != null);
    string templateName = null;
    List<SelectListItem> list = new List<SelectListItem>();

    list.Add(new SelectListItem { Text = "expression", Selected = !useTemplate });

    if (useTemplate)
    {
        templateName = Model.Controller.GetExpressionEditorDefinitionName(value, templatesFilter);
    }

    foreach (string item in Model.Controller.GetExpressionEditorNames(templatesFilter))
    {
        list.Add(new SelectListItem { Text = item, Selected = (item == templateName) });
    }
    
    @Html.DropDownList(name + "-templatedropdown", list, new { @class = "template-dropdown", data_key = name })

    if (useTemplate)
    {
        int count = 0;
        IEditorData data = Model.Controller.GetExpressionEditorData(value, templatesFilter, null);
        foreach (IEditorControl ctl in editorDefinition.Controls)
        {
            object editorValue = ctl.Attribute == null ? null : data.GetAttribute(ctl.Attribute);
            @RenderEditorControl(ctl, editorValue, name)
            count++;
        }
    }
    else
    {
        @Html.TextBox(name, value, new { style = "width: 350px" });
    }
}

@helper RenderIfScript(EditableIfScript script, string attributePrefix)
{
    <text>If: </text>
    @RenderTemplateControl(attributePrefix + "-expression", (string)script.GetAttribute("expression"), "if")
    <div class="childScript">
    @RenderScripts(script.ThenScript, attributePrefix + "-then")
    </div>
    
    <div class="ifSection ui-widget-header ui-corner-all toolbar" id="ifsection-toolbar-@attributePrefix" style="display: none">
        <button type="button" class="ifsection-delete" data-key="@attributePrefix">Remove section</button>
    </div>
    
    int elseIfCount = 0;
    foreach (EditableIfScript.EditableElseIf elseIf in script.ElseIfScripts)
    {
        // TO DO: This needs to use the same expression mechanism as RenderEditorControl
        <div class="ifSection">
        @Html.CheckBox("selectifsection-" + attributePrefix + "-elseif" + elseIfCount.ToString(), new { @class = "ifsection-select", data_key = attributePrefix })
        Else If:
        @RenderTemplateControl(attributePrefix + "-elseif" + elseIfCount.ToString() + "-expression", (string)elseIf.GetAttribute("expression"), "if")
        </div>
        <div class="childScript">
        @RenderScripts(elseIf.EditableScripts, attributePrefix + "-elseif" + elseIfCount.ToString())
        </div>

        elseIfCount++;
    }
    
    <div class="ifSection"><button type="button" class="script-if-add-elseif" data-key="@attributePrefix">Add Else If</button></div>

    if (script.ElseScript == null)
    {
        <div class="ifSection">
        <button type="button" class="script-if-add-else" data-key="@attributePrefix">Add Else</button>
        </div>
    }
    else
    {
        <div class="ifSection">
        @Html.CheckBox("selectifsection-" + attributePrefix + "-else", new { @class = "ifsection-select", data_key = attributePrefix })
        Else:
        </div>
        <div class="childScript">
        @RenderScripts(script.ElseScript, attributePrefix + "-else")
        </div>
    }
}

@functions {
    private bool IsSimpleExpression(string simpleEditor, string expression)
    {
        if (simpleEditor == "boolean")
        {
            return (expression == "true" || expression == "false");
        }

        if (simpleEditor == "objects")
        {
            return expression.Length == 0;   // TO DO: || ((DropDownObjectsControl)m_simpleEditor).GetValidNames().Contains(expression);
        }

        if (simpleEditor == "number")
        {
            int number;
            return int.TryParse(expression, out number);
        }

        return EditorUtility.IsSimpleStringExpression(expression);
    }

    private string ConvertToSimpleExpression(string simpleEditor, string expression)
    {
        switch (simpleEditor)
        {
            case "boolean":
            case "objects":
            case "number":
                return expression;
            default:
                return EditorUtility.ConvertToSimpleStringExpression(expression);
        }
    }
}