@model WebEditor.Models.Controls.RichTextControl

<table>
    <tr>
        <td style="vertical-align: top">
            @Html.TextArea(Model.Control.Attribute, Model.Value, 10, 80, new { @class = "richtext", style = "width: 640px; height: 350px; font-size: 12pt" })
        </td>
        @if (Model.TextProcessorCommands != null)
        {
            <td style="vertical-align: top">
                @foreach (var commandData in Model.TextProcessorCommands)
                {
                    <button type="button" class="text-processor-helper" data-key="@Model.Control.Attribute" data-insertbefore="@commandData.InsertBefore" data-insertafter="@commandData.InsertAfter" data-source="@commandData.Source" data-extensions="@commandData.Extensions">@commandData.Command</button>
                    <span style="vertical-align: middle">@commandData.Info</span>
                    <br/>
                }
                <a href="http://docs.textadventures.co.uk/quest/text_processor.html" target="_blank">Text Processor help</a>
            </td>
        }
    </tr>
</table>